  <%= month_calendar(attribute: :date, events: @diaries) do |date, diaries| %>
    <%= date.day %>

    <% diaries.each do |diary| %>
      <div class="calendar_event">
        <%= link_to diary_path(diary) do %>
          <h3 class="bi bi-flower3 text-danger ms-2"></h3>
        <% end %>
      </div>
    <% end %>
  <% end %>
  