<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h1>My Diary<i class="bi bi-vector-pen"></i></h1>
    </div>
  </div>

  <div id="diaries_calendar">
    <%= render "calendar", diaries: @diaries %>
  </div>
</div>