<% content_for(:title, "記録") %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h1>今日の記録</h1>

    </div> 
    <%= render "form", diary: @diary %>
  </div>
</div>