<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h3>今日から始めよう!</h3>
    <h6>このアプリは毎日ひとつのyogaポーズを提供し<br>記録することであなたのyoga習慣をサポートします</h6>

  </div>
  <div class='top-start-botton'>
    <%= link_to "Let's start now!", random_pose_path, class: 'btn btn-outline-danger' %>
  </div>
</div>

