<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>今日から始めよう</h1>
  </div>
  <div class='top-start-botton'>
    <%= link_to "Let's start now!", pose_path(@pose), class: 'btn btn-outline-danger' %>
  </div>
</div>
