<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1 class="head-line">Let's start now!</h1>
    <h6>毎日のYoga習慣でからだとこころをリフレッシュしよう</h6>

  </div>
  <div class='top-start-button'>
    <%= link_to random_pose_path, class: 'btn btn-outline-danger shadow-danger rounded-pill' do %>
      <h5>さっそくはじめる</h5>
      <% end %>
  </div>
</div>

<div data-controller="swiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @poses.each do |pose| %>
        <div class="swiper-slide">
          <%= link_to pose_path(pose) do %>
            <%= image_tag pose.image, class: "card-img-top" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Services</h2>
      <h6 class="section-subheading text-muted md-5">このアプリでできること</h6>
      <br>
    </div>
    <div class="row text-center">
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card custom-card w-100">
          <div class="card-body d-flex flex-column align-items-start">
            <div class="text-center w-100">
              <span class="fa-stack fa-4x">
                <i class="fa-solid fa-person-running"></i>
              </span>
              <h4 class="my-3">Yoga実践</h4>
            </div>
            <p class="text-muted text-start mt-3">Startボタンを押すと今日のYogaポーズを表示します<br>やり方にそってポーズをしてみましょう<br>もちろんやってみたいポーズを見つけたらイラストをクリック！</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card custom-card w-100">
          <div class="card-body d-flex flex-column align-items-start">
            <div class="text-center w-100">
              <span class="fa-stack fa-4x">
                <i class="fa-regular fa-calendar-days"></i>
              </span>
              <h4 class="my-3">記録</h4>
            </div>
            <p class="text-muted text-start mt-3">Yogaをがんばった記録を残しましょう<br>その日の気分やコメントをカレンダーに記録できます<br>後から振り返りも可能です</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card custom-card w-100">
          <div class="card-body d-flex flex-column align-items-start">
            <div class="text-center w-100">
              <span class="fa-stack fa-4x">
                <i class="fa-regular fa-clock"></i>
              </span>
              <h4 class="my-3">通知</h4>
            </div>
            <p class="text-muted text-start mt-3">ついつい忘れちゃう場合はLINE通知を設定してYogaポーズを受け取りましょう<br>My Diaryページで友達追加して設定できます</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
