<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row pt-3 pd-3'>
      <ul class='nav justify-content-center'>
        <li class='list-inline-item'><%= link_to '利用規約', term_path, class: 'custom-link' %></li>
        <li class='list-inline-item'><%= link_to '　プライバシーポリシー　', privacy_policy_path, class: 'custom-link' %></li>
        <li class='list-inline-item'><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSeIN6uaHY9Fd2eQvaBYsIJLFzBw7aMxopBv_bhn6Y9Duw3EMw/viewform?usp=sf_link', class: 'custom-link' %></li>
      </ul>
      <p class='text-center'>Copyright © 2024 Yoga Diary All Rights Reserved.</p>
    </div>
</footer>