<footer id='footer' class='footer-bottom ' style='background-color: #f1f0e3;'>
  <div class='container'>
    <div class='row'>
      <ul class='nav justify-content-center py-3'>
        <li class='list-inline-item'><%= link_to '利用規約', term_path %></li>
        <li class='list-inline-item'><%= link_to 'プライバシーポリシー', privacy_policy_path %></li>
        <li class='list-inline-item'><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSeIN6uaHY9Fd2eQvaBYsIJLFzBw7aMxopBv_bhn6Y9Duw3EMw/viewform?usp=sf_link' %></li>
      </ul>
    </div>
  </div>
</footer>