<footer id='footer' class='footer-bottom' style='background-color: #f1f0e3;'>
  <div class='container'>
    <div class='row'>
      <ul class='nav justify-content-center py-3'>
        <li class='list-inline-item'><%= link_to '利用規約', '#' %></li>
        <li class='list-inline-item'><%= link_to 'プライバシーポリシー', '#' %></li>
        <li class='list-inline-item'><%= link_to 'お問い合わせ', '#' %></li>
      </ul>
    </div>
  </div>
</footer>