<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light' style='background-color: #f1f0e3;'>
    <%= link_to 'root_path', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        
        <li class='nav-item'>
          <%= link_to 'ポーズ', '#', class: 'nav-link' %>
        </li>
        <br>
        <li class='nav-item'>
          <%= link_to 'ログアウト', '#', class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
