body {
  min-height: 100vh;
  background-color:#f1f0e3;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

footer{
  position: absolute;
  bottom: 0;
  background-color: #f1f0e3;
  width: 100%;
}

.top-wrapper {
  background-image: url("TOP.png");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-color:#f1f0e3;

  .top-inner-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgb(48, 47, 47);

    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
  .top-start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .top-inner-text {
    font-size: 2rem;
  }

  .top-start-button {
    top: 70%;
  }
}

.main-content {
  flex: 1;
  background-color:#f1f0e3;
}

.fixed-size {
  width: 330px;
  height: 350px;
  object-fit: contain;
  border-radius: 15px; 
}

.swiper-container {
  position: relative;
  top: -180px;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  transition-timing-function: linear;
}

.swiper-slide {
  width: 100%;
  max-width: 230px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: calc(100% / 3 - 10px); 
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    width:100% ; 
  }
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.navbar-logo  {
  max-width: 180px;
  height: auto;
}

.card {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.custom-card {
  background-color: #eae7e2;
  border-radius: 15px; 
  border: none; 
}

.custom-link {
  color: #333333 ;
  text-decoration: none;
}

.calendar-container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.simple-calendar td {
  height: 75px;
  vertical-align: top;
}

.table.table-striped {
  margin-bottom: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
